.App {
  margin: 1rem;
}

button {
  font-size: calc(10px + 2vmin);
}

.QR-code > div {
  display: flex;
  & > div {
    flex: auto;
  }
  & > div:nth-child(2) {
    width: 3rem;
  }
  svg {
    height: 10rem;
  }
}
